/*
font info:
    family - Helvetica, Arial, sans-serif
    line-height - 1.6


colors:
    light gray - ##eee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    dark blue - #046c97
*/
/* +++++ BODY +++++ */
body {
  background-image: url(img/bg.jpg);
  font-family: helvetica, arial, sans-serif;
  line-height: 1.6;
}
body > div {
  border: .1em solid #ffd24a;
  border-radius: .15em;
  width: 80%;
  height: 95%;
  margin: 1em auto;
}
h2, h3 {
  color: #1fabe5;
}

/* +++++ HEADER +++++ */
header {
  background: #ff8523;
  width: 100%;
  height: 100%;
}
#logo img {
  padding: 1.5em 1em;
}
.main_navigation {
  margin-left: 1em;
  margin-bottom: 3em;
}
.main_navigation a {
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  border-radius: .25em;
  padding: .5em 2em;
  font-weight:600;
  font-size: 1.2em;
  margin-right: .15em;
}

/* +++++ DIV PAGE_CONTENT  +++++ */

/* ----- 1st SECTION ----- */
body > div {
  background: #fff;
}
#page_content section {
  margin-left: 1em;
  margin-right: 1em;
  border-bottom: solid .25em #dddddd;

}
p > a {
  color: #1fabe5;
}
li {
  font-weight: 600;
}

/* ----- 2nd SECTION w/TABLE ----- */
table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 3em;
}
table, td {
  border: 1px solid black;
}
thead {
  background: #1fabe5;
  color: #fff;
}
td {
  padding: 1em 0 1em 1.5em;
}
table img {
  max-width: 6em;
  max-height: 6em;
}

/* ----- 3rd SECTION w/FORM ----- */

form {
  background: #dddddd;
  border-radius: .25em;
}





/* LAYOUT
header > a {
  margin-top: 5em;
  border: 1px solid #fff;
}
header > nav {
  border: 1px solid blue;
}
