/*
font info:
    family - Helvetica, Arial, sans-serif
    line-height - 1.6


colors:
    light gray - ##eee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    dark blue - #046c97
*/

body {
  background-image: url(img/bg.jpg);
  font-family: helvetica, arial, sans-serif;
  line-height: 1.6;
}
body > div {
  border: .1em solid #ffd24a;
  width: 80%;
  height: 95%;
  margin: 1em auto;
}
#site_header {
  background: #ff8523;
  width: 100%;
  height: 100%;
}
#logo img {
  padding: 1.5em 1em;
}
.main_navigation {
  margin-left: 1em;
  margin-bottom: 3em;
}
.main_navigation a {
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  border-radius: .25em;
  padding: .5em 2.5em;
  font-weight: 600;
  font-size: 1.2em;
  margin-right: .15em;
}

/* LAYOUT
header > a {
  margin-top: 5em;
  border: 1px solid #fff;
}
header > nav {
  border: 1px solid blue;
}
